body {
    position: relative; /* ensure a positioning context */
    min-height: 100vh;  /* full page height */
}

.element{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 10px;
    text-align: center;
    line-height: 200px;
    font-size: 36px
}

.position-relative{
    position: relative;
    background-color: yellow;
    top: 120px;
    left: -50px;
}

.position-absolute{
    position: absolute;
    background-color: orange;
    top: 120px;
    left: -50px;
}

.position-fixed{
    position: fixed;
    background-color: red;
    top: 120px;
    left: -50px;
}

#game-field{
    width: 600px;
    height: 400px;
    border: 2px solid black;
    position: relative;
    background-color: green;
}

#ball{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: sticky;
    top: 200px
}


.banner{
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.top-left{
    position: fixed;
    top: 0;
    left: 0;
}

.top-right{
    position: fixed;
    top: 0;
    right: 0;
}

.bottom-left{
    position: fixed;
    bottom: 0;
    left: 0;
}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}
