* {
    margin: 0;
    padding: 0;
}

body, html{
    margin: 0;
    padding: 0;
}

nav{
    font-size: 0;
}

nav a{
    background-color: lightblue;
    outline: 1px solid black;
    padding: 0.5em;
    width: 10%;
    display: inline-block;
    font-size: 12px;
    padding: 0;
}